.Pagination {
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .PageNumbers {
    display: flex;
    span {
      padding: 0 1rem;
      cursor: pointer;
    }
  }
}

.Active {
  color: #cacaca;
  cursor: text !important;
}
.Input {
}
